@page
@model ITI_Tarining_Razor_Page_Project_Hospital_System.Pages.Doctors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />
            <div class="form-group">
                <label asp-for="Doctor.Name" class="control-label"></label>
                <input asp-for="Doctor.Name" class="form-control" />
                <span asp-validation-for="Doctor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Qualification" class="control-label"></label>
                <input asp-for="Doctor.Qualification" class="form-control" />
                <span asp-validation-for="Doctor.Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Salary" class="control-label"></label>
                <input asp-for="Doctor.Salary" class="form-control" />
                <span asp-validation-for="Doctor.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.HosId" class="control-label"></label>
                <select asp-for="Doctor.HosId" class="form-control" asp-items="ViewBag.HosId"></select>
                <span asp-validation-for="Doctor.HosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
